.todoForm {
    // text-align: center;

    .todo-btn {
        background-color: rgb(105, 62, 138);
        border-radius: 0.3rem;
        color: white;
        margin: 0.4rem;
        padding: 0.3rem;
        cursor: pointer;
    }
}